<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link  rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/assets/css/main.css">
<script src="/assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<style>
big {
        color: rgb(51, 51, 51);
}

figcaption {
        text-align: center;
        font-size: 70%;
        font-weight: bold;
        line-height: 100%;
        padding-top: 0.5em;
        padding-bottom: 1.5em;
}

.post > h2 {
        padding-top: 0.5em;
}

.post {
        padding: 0 0%;
        line-height:150%;
}
.post > p {
        padding: 0.2em 0;
		font-size: 20px;
}
</style>