<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  {{ $css := resources.Get "main.css" }}
  {{ $style := $css | resources.PostCSS }}

  <meta property="og:site_name" content="esq.io" />
  <meta property="og:title" content="esq.io" />
  <meta name="description" content="A website created by V. David Zvenyach.">
  <meta property="og:description" content="A website created by V. David Zvenyach." />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@vdavez">
  <meta property="og:image" content="https://esq.io/assets/images/bronzefonze.jpg" />

  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
<body>
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/4 lg:pl-24">
      <header>
        <div class="py-3 xs:pt-3 md:pt-12 px-3 bg-gray-200 sm:bg-gray-200 md:bg-white">
          <h1 class="text-2xl font-black uppercase p-3"><a class="" href="/">Dave Zvenyach</a></h1>
          <p class="mx-4"><a href="/about" class="underline">/about</a></p>
          <p class="mx-4"><a href="/books" class="underline">/books</a></p>
          <p class="mx-4"><a href="/now" class="underline">/now</a></p>
        </div>
      </header>
    </div>
    <div class="w-full md:w-3/4 lg:pr-24">
      <main>
        <div class="pt-3 xs:pt-3 md:pt-12 px-3 mx-auto md:mr-24 leading-normal">
            {{ block "main" . }}
            {{ end }}
        </div>
      </main>
  </div>
</div>
  <footer class="">
    <div class="absolute bottom-0 w-full bg-gray-200">
      <p class="text-center">V. David Zvenyach. Source Code and Content available <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.</p>
    </div>
  </footer>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-46841105-9', 'auto');
    ga('send', 'pageview');
  </script>
  {{ block "javascript" .}}{{ end }}
</body>
</html>
