<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  {{ $css := resources.Get "main.css" }}
  {{ $style := $css | resources.PostCSS }}

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@vdavez">

  <link rel="alternate" type="application/rss+xml" href="https://esq.io/posts/index.xml" />
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ template "_internal/opengraph.html" . }}

  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setDoNotTrack", true]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://managingmetrics.matomo.cloud/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '2']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://cdn.matomo.cloud/managingmetrics.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
</head>
<body>
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/4 lg:pl-24">
      <header>
        <div class="py-3 xs:pt-3 md:pt-12 px-3 bg-gray-200 sm:bg-gray-200 md:bg-white">
          <h1 class="text-2xl font-black uppercase p-3"><a class="" href="/">Dave Zvenyach</a></h1>
          <p class="mx-4"><a href="/about" class="underline">/about</a></p>
          <p class="mx-4"><a href="/books" class="underline">/books</a></p>
          <p class="mx-4"><a href="/now" class="underline">/now</a></p>
          <div class="mx-4 flex">
            {{ partial "social.html" }}
          </div>
          <div class="mx-4 email-signup">
          {{ partial "email-signup.html" }}
          </div>
        </div>
      </header>
    </div>
    <div class="w-full md:w-3/4 lg:pr-24">
      <main>
        <div class="pt-3 xs:pt-3 md:pt-12 px-3 mx-auto md:mr-24 leading-normal">
            {{ block "main" . }}
            {{ end }}
        </div>
      </main>
  </div>
</div>
  <footer class="">
    <div class="absolute bottom-0 w-full bg-gray-200">
      <p class="text-center">V. David Zvenyach. Source Code and Content available <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.</p>
    </div>
  </footer>
  {{ block "javascript" .}}{{ end }}
</body>
</html>
