{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <div class="main-text shadow-2xl p-3 lg:px-12">
    <div class="flex justify-between">
      <h1 class="text-2xl uppercase font-black lg:text-4xl">{{.Title}}</h1>
      {{ if eq .Type "posts" }}
        <a class="item-end" rel="alternate" type="application/rss+xml" href="http://vdavez.com/posts/index.xml"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a>
      {{ end}}
    </div>
    <div class="text-base lg:text-xl lg:tracking-wide">
    {{ .Content | safeHTML}}
    <ul class="mt-4">
    {{ range .Paginator.Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Title}}</a> ({{.Date.Format "2006-01-02"}})
        </li>
    {{ end }}
    </ul>
    {{ if eq .Type "posts" }}
    <div class="py-8">
      More posts...
      {{ template "_internal/pagination.html" (dict "page" . "format" "terse") }}
    </div>
    {{ end }}
    </div>
  </div>
{{ end }}
