{{ $elem_index := 0 }}
{{ range sort . ".review_date" "desc"}}
{{ if .review }}
<tr class="border">
  <td class="px-4 py-2"><a href="#" onclick="toggleReview({{$elem_index}})">{{ .title }}</a></td>
  <td class="px-4 py-2">{{ .author }}</td>
  <td class="text-center py-2">{{ .rating }}</td>
  <td class="px-4 py-2">{{ .review_date }}</td>
</tr>
<tr id="review-{{$elem_index}}" class="hidden">
  <td colspan=4 class="px-4 py-2">{{.review | safeHTML}}</td>
</tr>
{{ $elem_index = (add $elem_index 1)}}
{{ end }}
{{ end }}
