<!-- Begin Mailchimp Signup Form -->
<hr class="my-6">
<div id="mc_embed_signup" class="my-2 w-full">
<form action="https://esq.us4.list-manage.com/subscribe/post?u=26a07df1654543995b0cb55c8&amp;id=1b6acfa4ac" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL" class="block font-bold">Subscribe to my email list</label>
	<input type="email" value="" name="EMAIL" class="email w-full py-2 border-2 border-bottom border-dotted border-gray-600" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_26a07df1654543995b0cb55c8_1b6acfa4ac" tabindex="-1" value=""></div>
    <div class="clear block"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button block"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
