<html>
<head>
{% include head.html %}
<meta property="og:site_name" content="esq.io" />
<meta property="og:title" content="V. David Zvenyach's website" />
<meta name="description" content="The website for V. David Zvenyach">
<meta property="og:description" content="The website for V. David Zvenyach" />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@vdavez">
<meta property="og:image" content="https://esq.io/assets/images/bronzefonze.jpg" /> 
<title>V. David Zvenyach's Website</title>
</head>
<body>
<div class="container">
{% include nav.html %}
<div class="post">
{{ content | markdownify }}
</div>
</div>
{% include footer.html %}
</body>
</html>