<html>
<head>
{% include head.html %}
<title>V. David Zvenyach's Blog -- {{page.posttitle}}</title>
<meta property="og:title" content="{{page.posttitle}}" />
<meta name="description" content="{{ page.content | split:'<!--break-->' | first | strip_html }}">
<meta property="og:description" content="{{ page.content | split:'<!--break-->' | first | strip_html }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@vdavez">
<meta property="og:image" content="https://esq.io/assets/images/bronzefonze.jpg" /> 
</head>
<body>
<div class="container">
{% include nav.html %}
<div class="post">
<h2 class="text-center"><big>{{ page.posttitle }}</big><br><small>{{page.subtitle}}<br><em>Published on: {{page.date | date: "%b %d, %Y"}}</em></small></h2>
{{ content }}
<div class="text-right"><a href="/"><em>Return Home</em></a></div>
</div>
</div>
{% include footer.html %}
</body>
</html>